<header class="header">
  @if (isLoggedIn()) {
    <button mat-raised-button color="primary" class="home" routerLink="/resume"><Span>Home</Span></button>
    <div class="personal-info">
      <span>Dipin Karunakaran</span>
      <span class="role">Full-Stack Developer</span>
      <p>
        <strong>Email:</strong> dipinkarunakaran6&#64;gmail.com | 
      </p>
      <p>
        <a href="https://linkedin.com/in/dipin-karunakaran-95221b232" target="_blank">LinkedIn</a> |
        <a href="https://github.com/dipin736" target="_blank">GitHub</a>
      </p>
    </div>
  
  }

  @if (isLoggedIn()) {
    <button mat-raised-button class="logout" color="warn" (click)="logout()"><Span>Logout</Span></button>
  }
</header>

<router-outlet></router-outlet>
<app-footer></app-footer>